<h3 class="text-center my-4">Bienvenido al Sistema de Control de Asistencia</h3>
<p class="text-center text-muted mb-4">
  Administre de forma sencilla y rápida el registro de asistencia y horas
  laborales. Inicie ahora!
</p>

<div class="row justify-content-center">
  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card shadow-lg border-dark rounded">
      <div class="card-body">
        <div class="d-flex align-items-center mb-3">
          <h5 class="ms-3">Registro de Asistencia</h5>
        </div>
        <p class="card-text text-muted">
          Registre su asistencia, entrada y salida de forma rápida y fácil de
          gestionar.
        </p>
        <button
          type="button"
          class="btn btn-dark w-100"
          routerLink="/asistencia"
        >
          Registrar Asistencia
        </button>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card shadow-lg border-dark rounded">
      <div class="card-body">
        <div class="d-flex align-items-center mb-3">
          <h5 class="ms-3">Registro de Horas Laborales</h5>
        </div>
        <p class="card-text text-muted">
          Registre sus horas laborales de forma rápida y segura para llevar un
          control eficiente.
        </p>
        <button
          type="button"
          class="btn btn-success w-100"
          routerLink="/horas-laborales"
        >
          Registrar Horas
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5 text-center">
  <div class="col-12">
    <h4 class="text-muted">¿Por qué elegir nuestro sistema?</h4>
    <p class="text-muted mb-4">
      Nuestro sistema ofrece una solución sencilla y confiable para mantener el
      control de la asistencia y horas laborales de manera eficiente.
    </p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow-sm border-light rounded">
      <div class="card-body">
        <h5 class="card-title text-success">Interfaz Intuitiva</h5>
        <p class="card-text text-muted">
          Disfruta de una experiencia de usuario fluida, sin complicaciones.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card shadow-sm border-light rounded">
      <div class="card-body">
        <h5 class="card-title text-success">
          Acceso desde cualquier dispositivo
        </h5>
        <p class="card-text text-muted">
          Accede a tu sistema desde cualquier lugar y en cualquier momento.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center my-5">
  <a href="#" class="text-decoration-none mx-3 text-muted">Necesitas ayuda? </a>
</div>
