<div class="horas-laborales-container">
  <h3 class="text-center mb-4">Inicio de Sesión</h3>
  <form [formGroup]="formularioInicioDeSesion" (ngSubmit)="iniciarSesion()">
    <!-- Campo de Correo Electrónico -->
    <div class="row justify-content-center mb-4">
      <div class="col-6">
        <label for="email" class="form-label">Correo Electronico:</label>
        <input
          id="email"
          type="email"
          class="form-control"
          formControlName="email"
          [ngClass]="{
            'is-invalid':
              formularioInicioDeSesion.get('email').invalid &&
              formularioInicioDeSesion.get('email').touched
          }"
          required
        />
        <div
          *ngIf="
            formularioInicioDeSesion.get('email').invalid &&
            formularioInicioDeSesion.get('email').touched
          "
          class="invalid-feedback"
        >
          <div *ngIf="formularioInicioDeSesion.get('email').errors?.email">
            El correo electrónico no es valido
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mb-4">
      <div class="col-6">
        <label for="contraseña" class="form-label">Contraseña:</label>
        <input
          id="contraseña"
          type="password"
          class="form-control"
          formControlName="contraseña"
          [ngClass]="{
            'is-invalid':
              formularioInicioDeSesion.get('contraseña').invalid &&
              formularioInicioDeSesion.get('contraseña').touched
          }"
          required
        />
        <div
          *ngIf="
            formularioInicioDeSesion.get('contraseña').invalid &&
            formularioInicioDeSesion.get('contraseña').touched
          "
          class="invalid-feedback"
        >
          La contraseña es requerida
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <button
        type="submit"
        class="btn btn-dark w-50"
        [disabled]="formularioInicioDeSesion.invalid"
      >
        Iniciar Sesión
      </button>
    </div>

    <div *ngIf="mensajeError" class="mt-3 text-center">
      <div class="alert alert-danger" role="alert">
        {{ mensajeError }}
      </div>
    </div>
  </form>
</div>
