<nav class="navbar navbar-expand-lg rounded shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img
        src="sena.png"
        alt="sena-logo"
        width="40"
        class="d-inline-block align-middle"
      />
      <span class="ms-2">Sistema de Control</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="active"
            >Inicio</a
          >
        </li>
        <li
          class="nav-item"
          *ngIf="
            (usuarioActual | async)?.rol === 'Usuario' ||
            (usuarioActual | async)?.rol === 'Admin'
          "
        >
          <a class="nav-link" routerLink="/asistencia" routerLinkActive="active"
            >Asistencia</a
          >
        </li>
        <li class="nav-item" *ngIf="(usuarioActual | async)?.rol == 'Admin'">
          <a class="nav-link" routerLink="/admin" routerLinkActive="active"
            >Administración</a
          >
        </li>
      </ul>

      <div class="d-flex align-items-center">
        <ng-container *ngIf="usuarioActual | async">
          <div class="dropdown me-3">
            <a
              class="nav-link dropdown-toggle text-muted"
              href="#"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Bienvenid&#64; {{ (usuarioActual | async).nombre }}</a
            >
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#" (click)="cerrarSesion()"
                  >Cerrar sesion</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="#"
                  data-bs-toggle="modal"
                  data-bs-target="#cambiarContrasenaModal"
                  >Cambiar contraseña</a
                >
              </li>
            </ul>
          </div>
        </ng-container>
        <ng-container *ngIf="(usuarioActual | async) === null">
          <button
            type="button"
            class="btn btn-outline-dark"
            routerLink="/inicio-sesion"
          >
            Iniciar sesión
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</nav>

<div
  class="modal fade"
  id="cambiarContrasenaModal"
  tabindex="-1"
  aria-labelledby="cambiarContrasenaModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cambiar contraseña</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="cambiarContrasenaFormulario">
          <div class="mb-3">
            <label for="nuevaContrasena" class="form-label"
              >Nueva Contraseña</label
            >
            <input
              type="password"
              class="form-control"
              id="nuevaContrasena"
              formControlName="nuevaContrasena"
            />
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-outline-danger"
          (click)="actualizarContrasena()"
          data-bs-dismiss="modal"
        >
          Actualizar
        </button>
      </div>
    </div>
  </div>
</div>
